.github-search-container {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
}

.search-container {
  padding: 10px;
  background-color: #e6f7ff;
  border-radius: 16px;
  margin-bottom: 20px;
}

.search-container h1 {
  color: #262626;
  font-weight: 500;
  font-size: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.search-input {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  font-size: 16px;
  text-align: left;
  padding-left: 10px;
  height: 40px;
  width: 80%;
  margin-bottom: 20px;
}

.search-input::placeholder {
  color: #d3cccc;
}

.search-button {
  height: 40px;
  width: 101px;
  margin-bottom: 10px;
  color: #fff;
}

.info-search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
  background-color: #f5f5f5;
  border-radius: 16px;
  margin-bottom: 20px;
}

.info-search-container img {
  width: 247px;
  height: 247px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.return-container {
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 6px;
}

.return-container h4 {
  font-size: 18px;
  color: #1890ff;
  margin-top: 8px;
  margin-left: 14px;
}

@media (min-width: 768px) {
  .github-search-container {
    padding: 40px;
  }
  .search-container h1 {
    font-size: 38px;
  }
  .form-container {
    padding: 10px;
  }
  .search-input {
    width: 298px;
  }
}

@media (min-width: 992px) {
  .github-search-container {
    padding: 40px 40px;
  }
  .search-container {
    padding: 40px 10px;
    margin-bottom: 40px;
  }
  .info-search-container {
    padding: 40px 40px;
    flex-direction: row;
  }
  .return-container {
    padding: 5px;
    width: 902px;
    height: 247px;
    margin-left: 20px;
  }
}

@media (min-width: 1200px) {
  .github-search-container {
    padding: 50px 100px;
  }
  .return-container {
    width: 1350px;
  }
  .return-container h4 {
    margin-left: 5px;
  }
  .info-search-container {
    padding: 40px 40px;
  }
}
